# Smart Helmet – Python dependencies
# pip install -r requirements.txt

faster-whisper
deep-translator
ctranslate2
piper-tts
pyaudio
schedule
dateparser
keyboard
RPi.GPIO>=0.7.1; sys_platform == "linux"
# python -m piper.download_voices en_US-lessac-medium
# python -m piper.download_voices de_DE-thorsten-medium
